

    <% provide :page_title, "Questions" %>
    <% currently_at "Questions" %>

    <div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Questions</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <%= button_to "New question", new_question_path, :method => "get", :class => 'btn btn-sm btn-outline-secondary' %>
            </div>
        </div>
    </div>

    <%= render "shared/flash" %>

    <%== pagination @pagy %>

    <div class="row">
        <% @questions.each do |question| %>
            <div class="col-sm-4">
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title"><%=question.title %></h5>
                        <p class="card-text"><%= truncate strip_tags(question.body),length: 125, omission: "... (continued)" %></p>
                        <p class="card-text"><small class="text-muted">Created: <%= question.formatted_created_at %></small></p>
                        <div class="btn-group">
                            <%= nav_tab "Show", question_path(question), :method => "get", :class => 'btn btn-sm btn-outline-primary' %>
                            <%= nav_tab "Edit", edit_question_path(question), :method => "get", :class => 'btn btn-sm btn-outline-secondary' %>
                            <%= nav_tab "Delete", question_path(question), :method => "delete", :class => 'btn btn-sm btn-outline-danger', form: {data: {confirm: "Are you sure?"}} %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>

    <%== pagination @pagy %>


