

    <% provide :page_title, "Tools" %>
    <% currently_at "Tools" %>

    <div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Tools</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <%= button_to "New tool", new_tool_path, :method => "get", :class => 'btn btn-sm btn-outline-secondary' %>
                <%= button_to "View as PDF", tools_path(@tool, format: "pdf"), form: {target: '_blank'}, :method => "get", :class => 'btn btn-sm btn-outline-secondary' %>
            </div>
        </div>
    </div>

    <%= render "shared/flash" %>

    <%== pagy_bootstrap_nav @pagy %>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Total</th>
                <th scope="col">Inrent</th>
                <th scope="col">Broken</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @tools.each do |tool| %>
            <tr>
                <td><%= tool.id %></td>
                <td><%= link_to tool.name, tool_path(tool) %></td>
                <td><%= tool.body %></td>
                <td><%= tool.toolVariants.count %></td>
                <td> inrent </td>
                <td> broken </td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <%= nav_tab "Show", tool_path(tool), :method => "get", :class => 'btn btn-sm btn-outline-primary' %>
                        <%= nav_tab "Edit", edit_tool_path(tool), :method => "get", :class => 'btn btn-sm btn-outline-secondary' %>
                        <%= nav_tab "Delete", tool_path(tool), :method => "delete", :class => 'btn btn-sm btn-outline-danger', form: {data: {confirm: "Are you sure?"}} %>
                    </div>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
