


            <tr>
                <td><%= tool_variant.tool_number %></td>
                <td><%= tool.name %></td>
                <td>current_status</td>
                <td>work_hours</td>
                <td>rent_count</td>
                <td><%= tool_variant.body %></td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <%= nav_tab "Show", tool_tool_variant_path(tool, tool_variant), :method => "get", :class => 'btn btn-sm btn-outline-primary' %>
                        <%= nav_tab "Edit", edit_tool_tool_variant_path(tool, tool_variant), :method => "get", :class => 'btn btn-sm btn-outline-secondary' %>
                        <%= nav_tab "Delete", tool_tool_variant_path(tool, tool_variant), :method => "delete", :class => 'btn btn-sm btn-outline-danger', form: {data: {confirm: "Are you sure?"}} %>
                    </div>
                </td>
            </tr>
