
    <%= render "shared/flash" %>
    <%= render "shared/errors", object: @tool_number %>

    <%= form_with :class => "my-3", model: [@tool_list, @tool_number] do |f| %>
        <div class="form-group">
            <%= f.label :number %>
            <%= f.text_field :number, :class => 'form-control' %>
            <%= f.label :body %>
            <%= f.text_field :body, :class => 'form-control' %>
        </div>

        <%= f.submit :class => 'btn btn-primary mt-2' %>
    <% end %>